a {
    color: red;
}
a:hover {
    color: blue;
}
a:visited {
    color: green;
}
a:focus {
    color: orange;
}
li:first-child {
    font-weight: bold;
}
li:last-child {
    color: green;
}
li:nth-child(odd) {
    color: lightblue;
}
li:nth-child(even) {
    color: #c8a2c8;
}
